.hero-content {
  min-height: 885px;
  background: rgba(211, 228, 254, 0.3);
}

.sub-hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 150px 55px 48px;
  gap: 48px;
}

.left-content {
  width: 512px;
  flex-shrink: 0;
}

.title-1,
.title-2 {
  margin: 0;
}

.container-1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  padding-bottom: 20px;
}

.sub-1 {
  width: 291px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: 1px solid #0058be1a;
  border-radius: 9999px;
  background-color: #dce9ff;
}
.sub-2 {
  width: 512px;
  height: 302.5px;
  padding-top: 0;
}

.promt-icon {
  width: 13px;
  height: 13px;
}

.text-1 {
  margin: 0;
  padding: 8px;
  height: 24;
  font-size: 16px;
  font-weight: 400;
  color: #0058be;
}

.title-1 {
  width: 377px;

  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -1.8px;
  color: #0b1c30;
}

.title-2 {
  width: 448px;

  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -1.8px;
  color: #0058be;
}

.line {
  width: 446.66px;
  height: 8px;
}

.para-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32.5px;
  padding-top: 15px;
  color: #4b5563;
  width: 503.3800048828125px;
  height: 98px;
  letter-spacing: 0;
}

.btn-1 {
  width: 214px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 25px;
  border: none;
  border-radius: 12px;
  background: #0058be;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  box-shadow:
    0 8px 10px -6px #0058be33,
    0 20px 25px -5px #0058be33;
}

.btn-2 {
  width: 199px;
  height: 74px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 24px 48px;

  border: 1px solid #c6c6cd;
  border-radius: 12px;

  background: #ffffff;
  color: #0b1c30;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.arrow {
  width: 16px;
  height: 16px;
}

.sub-4 {
  width: 512px;
  height: 105px;

  display: flex;
  align-items: center;
  gap: 24px;

  margin-top: 60px;
}

.hero-image {
  width: 650px;
  height: 650px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-shrink: 0;
}

.intern-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
