.hr-reg-page-container {
  width: 100%;
  min-height: 1054px;
  max-width: 1280px;
  margin: 0;
  display: flex;
}

.hr-reg-left-container {
  width: 1280px;
  height: 1120px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 64px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(165.73deg, #3571ca 2.49%, #29436b 100%);
}

.hr-reg-right-container {
  flex: 1;
  min-height: 1054px;
  padding-top: 64px;
  padding-left: 180px;
  background: #ffffff;
}
.hr-reg-right-content-container {
  width: 614.39px;
  height: 926px;
  max-width: 672px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
}

.hr-reg-logo {
  width: 89px;
  height: 32px;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #ffffff;
  margin: 0;
}

.hr-reg-quotes {
  width: 409.59px;
  height: 100px;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.8px;
  color: #ffffff;
}

#left-container-2-reg {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 160.5px;
  gap: 24px;
}

.hr-reg-description {
  width: 409.59px;
  height: 84px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #dad7ff;
}

#left-blur-box {
  width: 409.59px;
  height: 157px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.reg-dashboard-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reg-dashboard-content {
  display: flex;
  flex-direction: column;
}

#hr-icon {
  width: 24px;
  height: 12px;
}

#purple-circle {
  width: 48px;
  height: 48px;
  background: #8a4cfc;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-dashboard-title {
  width: 175.84px;
  height: 20px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.7px;
  color: #ffffff;
}

.reg-dashboard-description {
  width: 224.73px;
  height: 20px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: #dad7ff;
}
.reg-progress-bar {
  width: 359.59px;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  overflow: hidden;
}
.progress-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.reg-progress-fill {
  width: 269.69px;
  height: 8px;
  background: rgba(210, 187, 255, 1);
  border-radius: 9999px;
}
#small-label-1 {
  width: 76.48px;
  height: 15px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  color: #dad7ff;
}
#small-label-2 {
  width: 76.48px;
  height: 15px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  color: #dad7ff;
}

.labels-container {
  display: flex;
  align-items: center;
  gap: 191.25px;
}

#small-label-1,
#small-label-2 {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #dad7ffc3;
}

#small-label-1 {
  width: 91.86px;
  height: 15px;
}

#small-label-2 {
  width: 76.48px;
  height: 15px;
}

.reg-dashboard-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stats-container-hr {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-top: 160.5px;
}

.stat-item-hr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat-number-hr {
  width: 58.59px;
  height: 32px;
  font-family: "Manrope", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 32px;
  color: #ffffff;
}

.stat-label-hr {
  width: 71.39px;
  height: 16px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.6px;
  color: #dad7ff;
}
.hr-reg-title {
  width: 614.39px;
  height: 40px;
  margin: 0;
  padding-bottom: 8px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.32px;
  color: #111c2d;
}

.hr-reg-subtitle {
  width: 614.39px;
  height: 24px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #464555;
}

.reg-as-subtitle {
  width: 481px;
  height: 20px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  color: #464555;
}

.reg-card {
  width: 113px;
  height: 90px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid #c7c4d8;
  border-radius: 16px;
  background: #c7e6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#white-circle {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background: #fdf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hr-page-icon {
  width: 28.8px;
  height: 24px;
}

.hr-text {
  width: 23px;
  height: 24px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #0f172a;
}

.page-nav-conatiner {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-left: 59.7px;
  margin-top: 16px;
}

.reg-as-subtitle {
  margin-left: 66.7px;
  margin-top: 8px;
}

.hr-reg-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.hr-reg-form-row {
  display: flex;
  gap: 24px;
}

.hr-reg-form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hr-reg-label {
  margin-bottom: 8px;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.7px;
  color: #111c2d;
}

.hr-reg-required {
  color: #ef4444;
}
.hr-reg-input-wrapper {
  position: relative;
}

.company-icon-1 {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.hr-reg-input-company {
  width: 100%;
  height: 50px;
  padding: 13px 16px 14px 49px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111c2d;
}

.hr-reg-input-company ::placeholder {
  color: #9ca3af;
}

.hr-reg-input-company :focus {
  border-color: #3525cd;
}

.department__control {
  height: 50px;
  border: 1px solid #c7c4d8 !important;
  border-radius: 8px !important;
  box-shadow: none !important;
}

.department__value-container {
  padding-left: 40px;
}

.department__control:hover {
  border-color: #3525cd !important;
}

.department__control--is-focused {
  border-color: #3525cd !important;
}

.department__placeholder {
  color: #9ca3af !important;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
}

.department__single-value,
.department__option {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
}

.department__indicator-separator {
  display: none;
}

.department__dropdown-indicator {
  color: #6b7280 !important;
}

.hr-reg-input {
  width: 295.19px;
  height: 50px;
  padding: 13px 16px 14px 16px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;

  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111c2d;
}

.hr-reg-input::placeholder {
  color: #9ca3af;
}

.hr-reg-input:focus {
  border-color: #3525cd;
}

.terms-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 23.5px 0;
}

.terms-checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid #c7c4d8;
  border-radius: 4px;
  cursor: pointer;
  accent-color: #3525cd;
}

.terms-text {
  width: 311.46px;
  height: 20px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #464555;
}

.terms-text span {
  color: #3525cd;
  cursor: pointer;
  font-weight: 400;
}

.create-account-btn {
  width: 613.66px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background: #3525cd;
  color: #ffffff;
  cursor: pointer;

  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.7px;

  outline: none;
  box-shadow:
    0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.create-account-btn:hover {
  background: #ffffff;
  color: #3525cd;
  border: 1px solid #3525cd;
}

.create-account-btn:focus,
.create-account-btn:focus-visible {
  outline: none;
  border: 1px solid #3525cd;
}

.create-account-btn:active {
  transform: scale(0.98);
}

.create-account-btn:disabled {
  background: #c7c4d8;
  color: #ffffff;
  cursor: not-allowed;
  border: none;
}
.divider-line {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 23.5px 0;
}

.line {
  flex: 1;
  height: 1px;
  background: #c7c4d8;
}

.divider span {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  color: #c7c4d8;
}

.or-text-hr {
  width: 18.63px;
  height: 16px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #464555;
}
.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signin-text {
  margin: 0;
}

.signin-text {
  text-align: center;
  width: 236.68px;
  height: 24px;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #464555;
}

.signin-link {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #3525cd;
  cursor: pointer;
  text-decoration: none;
}

.signin-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hr-reg-form-row {
    flex-direction: column;
    gap: 20px;
  }
}

.error-message {
  margin-top: 6px;
  margin-left: 2px;

  font-family: "Hanken Grotesk", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  color: #ef4444;
}

.input-error-1 {
  border: 1px solid #ef4444 !important;
}

.phone-wrapper {
  display: flex;
  gap: 12px;
}

.country-code-box {
  width: 47px;
  height: 50px;

  border: 1px solid #c7c4d8;
  border-radius: 8px;
  background: #ffffff;

  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
  text-align: center;
  padding: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.phone-number-input {
  width: 240.19px;
  height: 50px;
  padding-top: 13px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  box-sizing: border-box;
}

.department-error .department__control {
  border: 1px solid #ef4444 !important;
}

.terms-wrapper {
  display: flex;
  flex-direction: column;
}

.terms-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .hr-reg-input {
  width: 100%;
  padding-right: 45px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6b7280;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.password-toggle:hover {
  color: #3525cd;
}

.hr-reg-input[type="password"] {
  font-family: Arial, sans-serif;
}
