.forgot-container {
  width: 1280px;
  height: 1024px;
  display: flex;
}

.left-container-for-forgot-password {
  width: 640px;
  min-height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(187.05deg, #4368c5 6.94%, #101f6b 93.89%);

  display: flex;
  flex-direction: column;
  padding: 80px 60px;
  position: relative;
  overflow: hidden;
  color: #fff;
  gap: 104px;
}

.right-container-for-forgot-password {
  width: 640px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px 60px;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.image-card {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background-color: #e2dfff;
  border: 2px solid red;
}

.password-reset-icon {
  width: 23.8076px;
  height: 23.8076px;
}
