.forgot-container {
  width: 1280px;
  height: 1024px;
  display: flex;
}

.left-container-for-forgot-password {
  width: 640px;
  min-height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(187.05deg, #4368c5 6.94%, #101f6b 93.89%);

  display: flex;
  flex-direction: column;
  padding: 80px 60px;
  position: relative;
  overflow: hidden;
  color: #fff;
  gap: 104px;
}

.right-container-for-forgot-password {
  width: 640px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px 60px;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.image-card {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background-color: #e2dfff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.password-reset-icon {
  width: 23.8076px;
  height: 23.8076px;
}

#forgot-password-title {
  width: 449px;
  height: 40px;

  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.32px;
  color: #111c2d;
}

.para-fp {
  width: 449px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #464555;
}

.parent-div-for-sub-box {
  width: 449px;
  height: 20px;

  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  vertical-align: middle;

  color: #464555;
  margin: 0;
}

.verification-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.verification-card.active {
  border: 1px solid #3525cd;
  background: #f8f7ff;
}

.custom-radio-1 {
  width: 18px;
  height: 18px;
  margin: 0;
  accent-color: #3525cd;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.custom-radio-1::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3525cd;

  transform: scale(0);
  transition: transform 0.2s ease;
}

.custom-radio-1:checked::before {
  transform: scale(1);
}
