.otp-outer-container {
  height: 718px;
}
.content-card {
  width: 490px;
  height: 569px;

  border: 2px solid red;
  border-radius: 12px;
  background: linear-gradient(161.29deg, #3a6fe3 2.07%, #133767 87.35%);
}
